/* =========================================
   PANEL KONTROL (MODE & POMPA)
   ========================================= */

.control-panel {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.control-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.control-desc {
    font-size: 13px;
    color: var(--text-muted);
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* --- Tampilan Sakelar Mode --- */
.mode-group {
    display: flex;
    gap: 10px;
}

.btn-mode {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    font-size: 13px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-muted);
    transition: all 0.3s ease;
    border: 1px solid var(--border-color);
}

.btn-mode:hover {
    background-color: #e2e8f0;
}

/* State saat mode aktif */
.btn-mode.active-auto {
    background-color: var(--color-safe);
    color: white;
    border-color: var(--color-safe);
    box-shadow: 0 4px 10px rgba(16, 185, 129, 0.3);
}

.btn-mode.active-manual {
    background-color: var(--color-warn);
    color: white;
    border-color: var(--color-warn);
    box-shadow: 0 4px 10px rgba(245, 158, 11, 0.3);
}


/* --- Tampilan Baris Pompa --- */
.pump-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.pump-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.pump-label {
    font-weight: 800;
    color: var(--text-dark);
    font-size: 14px;
}

.btn-group {
    display: flex;
    gap: 6px;
}

.btn-pump {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #cbd5e1; /* Warna mati/abu-abu terang */
    color: #64748b;
    font-weight: 800;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* State saat pompa aktif */
.btn-pump.active-pump {
    background-color: var(--primary-blue);
    color: white;
    box-shadow: 0 4px 10px rgba(59, 130, 246, 0.3);
}
